<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>name</key>
			<string>派悦坊</string>
			<key>icon</key>
			<string>4754cdb72b6b5fa0b22ba1ee315d95ad.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>东菱</string>
			<key>icon</key>
			<string>6cf1e9a50736426bd470ce3ed7d6b050.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>九阳</string>
			<key>icon</key>
			<string>06085698b180eb18b565fff264ba348f.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>烤箱</string>
			<key>icon</key>
			<string>ae29e64eab34b593c11df8dabfa6ba24.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>电商</string>
			<key>icon</key>
			<string>d8ed70d6f47d035981a84bbab53b3e95.png</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>一入烘焙深似海</string>
			<key>cardNumber</key>
			<string>58069</string>
			<key>note</key>
			<string>越做越上手，订单越来越多</string>
			<key>icon</key>
			<string>6699088f9fef18b6dc5f0b232e34a893.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>无美食不成活</string>
			<key>cardNumber</key>
			<string>49999</string>
			<key>note</key>
			<string>【小编吃点啥】今天在公司吃！火！锅！</string>
			<key>icon</key>
			<string>17d4cb5e841aa0d803d020c60edbf71b.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>无国界料理</string>
			<key>cardNumber</key>
			<string>8322</string>
			<key>note</key>
			<string>【求助】有人见过这货吗？看完整个人都不好了，这东西怎么吃啊？</string>
			<key>icon</key>
			<string>9588db9d3eb018d8b99e2dbad83a3c3c.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>有娃后的新生活</string>
			<key>cardNumber</key>
			<string>8322</string>
			<key>note</key>
			<string>宝贝演武媚娘也很不赖哦</string>
			<key>icon</key>
			<string>2a1b4679f6b6e4211563fc4f6f3e9385.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>素食新贵在此</string>
			<key>cardNumber</key>
			<string>8322</string>
			<key>note</key>
			<string>【来笋你】芦笋豆腐汤</string>
			<key>icon</key>
			<string>fbbbca65ae669c258f583e5063b8a2fc.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>面面俱到</string>
			<key>cardNumber</key>
			<string>16242</string>
			<key>note</key>
			<string>【馒头选美】我家只看中内在美</string>
			<key>icon</key>
			<string>f1430c5dc6b024b77c715bac6c670e3d.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>汤汤水水</string>
			<key>cardNumber</key>
			<string>3267</string>
			<key>note</key>
			<string>粥汤糊羹之美味，稀里糊涂之情结</string>
			<key>icon</key>
			<string>fdd93d5d46cb9525d3eeccb0f87e3130.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>瘦成一道闪电</string>
			<key>cardNumber</key>
			<string>38320</string>
			<key>note</key>
			<string>我到现在26天了，减了30斤</string>
			<key>icon</key>
			<string>c25f1ec079048801a391f02bd2332b8e.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>豆果美食线下店</string>
			<key>cardNumber</key>
			<string>993</string>
			<key>note</key>
			<string>豆果线下店，甜品、咖啡和轻食</string>
			<key>icon</key>
			<string>4efc3fc86f8037110be0ab2ac8498213.png</string>
		</dict>
	</array>
</array>
</plist>
