<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>icon</key>
			<string>471bb03e5531afe73528bef3141faf67.png</string>
			<key>category</key>
			<string>限时抢</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>5332f2085e8a7469e3bf98bc8431f75d.png</string>
			<key>category</key>
			<string>新品推荐</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>4ae4bed82d3f2c999421039aa861cb52.png</string>
			<key>category</key>
			<string>人气热卖</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>icon</key>
			<string>01.jpg</string>
			<key>name</key>
			<string>又实惠广告</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>02.jpg</string>
			<key>name</key>
			<string>限时抢</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>03.jpg</string>
			<key>name</key>
			<string>有名小吃</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>04.jpg</string>
			<key>name</key>
			<string>神器</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>icon</key>
			<string>cfa45078182d640a81d9b5b64326020e.png</string>
			<key>displayname</key>
			<string>中式菜肴</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>30006fc417f0f562a4aa5b41612db704.png</string>
			<key>displayname</key>
			<string>西餐料理</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>08e6e229dab676bf171d50e5c2998f73.png</string>
			<key>displayname</key>
			<string>主食厨房</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>eb360ecc275b0d0c08d0e14ad7af90ae.png</string>
			<key>displayname</key>
			<string>名厨料理</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>e188fce6ff580024ede17258a57413c9.png</string>
			<key>displayname</key>
			<string>茶饮酒水</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>6b7c5456b90ad3700be16b0d7d4e0f2a.png</string>
			<key>displayname</key>
			<string>休闲食品</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>abac6c15b5dfd932c7dfccf2f049cf32.png</string>
			<key>displayname</key>
			<string>烘焙美厨</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>6aeaa681be088020a4fd671e37a9ada0.png</string>
			<key>displayname</key>
			<string>滋补汤羹</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>c550eaf0ef6e1296dd403117344e44f5.png</string>
			<key>displayname</key>
			<string>精选生鲜</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>flashShale</key>
			<string>少于一天</string>
			<key>originalPrice</key>
			<string>42</string>
			<key>currentPrice</key>
			<string>19</string>
			<key>title</key>
			<string>【限时抢】柳州螺蛳粉300g*3  舌尖力荐 足不出户 畅享壮乡风情</string>
			<key>flag</key>
			<string>限时抢</string>
			<key>icon</key>
			<string>290_86c4718c67dcb0754d3d79bfafbf2dde.jpg</string>
		</dict>
		<dict>
			<key>flashShale</key>
			<string>少于一天</string>
			<key>originalPrice</key>
			<string>129</string>
			<key>currentPrice</key>
			<string>59</string>
			<key>title</key>
			<string>【限时抢】故乡车站 温州北白象镇鸭舌220g 酱香秘方无添加</string>
			<key>flag</key>
			<string>限时抢</string>
			<key>icon</key>
			<string>290_e1d9314cff7edae36e29b40c6e44daad.jpg</string>
		</dict>
		<dict>
			<key>flashShale</key>
			<string>少于一天</string>
			<key>originalPrice</key>
			<string>349</string>
			<key>currentPrice</key>
			<string>249</string>
			<key>title</key>
			<string>【限时抢】苏泊尔 家用全自动多功能面包机  MS10D03</string>
			<key>flag</key>
			<string>限时抢</string>
			<key>icon</key>
			<string>290_18ceff48e0fbd4f35716516f30477eee.jpg</string>
		</dict>
		<dict>
			<key>flashShale</key>
			<string></string>
			<key>originalPrice</key>
			<string>0</string>
			<key>currentPrice</key>
			<string>29</string>
			<key>title</key>
			<string>【直降4元】韩国正宗辣白菜 1000g 清脆酸爽 叶多帮少 100%果酸发酵 </string>
			<key>flag</key>
			<string></string>
			<key>icon</key>
			<string>290_bc073f685399fb1cf5bf54851c64edca.jpg</string>
		</dict>
		<dict>
			<key>flashShale</key>
			<string>4月29日 13:59结束促销</string>
			<key>originalPrice</key>
			<string>56</string>
			<key>currentPrice</key>
			<string>36</string>
			<key>title</key>
			<string>【直降20元】麻库 重庆小面 4人份  正宗小面家中享</string>
			<key>flag</key>
			<string>直降20元</string>
			<key>icon</key>
			<string>290_9a69783c356c5114bf5b4300ee6248c9.jpg</string>
		</dict>
		<dict>
			<key>flashShale</key>
			<string></string>
			<key>originalPrice</key>
			<string>0</string>
			<key>currentPrice</key>
			<string>39.9</string>
			<key>title</key>
			<string>烧烤调料4包组  奥尔良/麻辣/孜然/黑椒味</string>
			<key>flag</key>
			<string></string>
			<key>icon</key>
			<string>290_264f2951204d7d71c9fba0d4fe719f8d.jpg</string>
		</dict>
		<dict>
			<key>flashShale</key>
			<string></string>
			<key>originalPrice</key>
			<string>0</string>
			<key>currentPrice</key>
			<string>35</string>
			<key>title</key>
			<string>露莎士ROZA 甜辣酱320g*2瓶 泰国进口原瓶直发</string>
			<key>flag</key>
			<string></string>
			<key>icon</key>
			<string>290_805d2779911e84e5ca7f865615df4f67.jpg</string>
		</dict>
		<dict>
			<key>flashShale</key>
			<string></string>
			<key>originalPrice</key>
			<string>0</string>
			<key>currentPrice</key>
			<string>46.9</string>
			<key>title</key>
			<string>COOK100 麻辣香锅调料 70g*6包</string>
			<key>flag</key>
			<string></string>
			<key>icon</key>
			<string>290_bebd7c8a7020fb576dab6ca831cc1c38.jpg</string>
		</dict>
		<dict>
			<key>flashShale</key>
			<string></string>
			<key>originalPrice</key>
			<string>0</string>
			<key>currentPrice</key>
			<string>98</string>
			<key>title</key>
			<string>九阳 Tiffany-Q时尚开水煲K15-F626</string>
			<key>flag</key>
			<string></string>
			<key>icon</key>
			<string>290_713cb16f3dc3a25866fb82a93a9194b4.jpg</string>
		</dict>
		<dict>
			<key>flashShale</key>
			<string></string>
			<key>originalPrice</key>
			<string>0</string>
			<key>currentPrice</key>
			<string>65</string>
			<key>title</key>
			<string>螺蛳鸭脚煲 （2-4人食用）不会做饭也可以伪装大厨</string>
			<key>flag</key>
			<string></string>
			<key>icon</key>
			<string>290_cc6ab9fa741574681f1e8d25f683a061.jpg</string>
		</dict>
		<dict>
			<key>flashShale</key>
			<string></string>
			<key>originalPrice</key>
			<string>0</string>
			<key>currentPrice</key>
			<string>29</string>
			<key>title</key>
			<string>云南马老表 过桥米线106g*8袋  6口味混装 买一份当早点吧</string>
			<key>flag</key>
			<string></string>
			<key>icon</key>
			<string>290_bff100139d30deefe231e9d8d75443c0.jpg</string>
		</dict>
		<dict>
			<key>flashShale</key>
			<string>直降17元</string>
			<key>originalPrice</key>
			<string>46</string>
			<key>currentPrice</key>
			<string>29</string>
			<key>title</key>
			<string>【直降17元】【地道原汤】牛大坊 兰州牛肉面2盒装（600g/盒）2人份</string>
			<key>flag</key>
			<string>4月29日 13:59结束促销</string>
			<key>icon</key>
			<string>290_c12c071052a327ac16bd57e6f3f57e50.jpg</string>
		</dict>
		<dict>
			<key>flashShale</key>
			<string></string>
			<key>originalPrice</key>
			<string>0</string>
			<key>currentPrice</key>
			<string>28.5</string>
			<key>title</key>
			<string>汤家 浓香姬松茸杂菌汤4人份 炖鸡汤优选 养胃补虚</string>
			<key>flag</key>
			<string>4月29日 13:59结束促销</string>
			<key>icon</key>
			<string>290_7420b09367eda7379ac905ce01043a1e.jpg</string>
		</dict>
	</array>
</array>
</plist>
